<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Remote console not found</title>

	<link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">
	<link rel="icon" th:href="@{/favicon.ico}" sizes="any">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-touch-icon.png}">
	<link rel="manifest" th:href="@{/site.webmanifest}">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<p>This remote console no longer exists. It may have been removed from the Selfie Proxy portal.</p>
</body>
</html>
